@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>The Joel Hilton Film Collection</h1>
    <p>Welcome to the home page</p>
</div>

<img src="/img/HiltonPic.jpg" height="400"/>

<br />
<br />

<div>
    <a asp-controller="Home" asp-action="Application" >Know any great movies? Suggest them here!</a>
</div>

<div> <a asp-controller="Home" asp-action="Collection">See my movie collection!</a></div>
