@{
    ViewData["Title"] = "My Podcast";
}
<h1>@ViewData["Title"]</h1>

<p>Check out my weekly podcast Baconsale below!.</p>

<br />
<br />
<p>Click <a href ="https://baconsale.com/"> Here </a> to see my podcast</p>
